.modal {
    will-change: visibility, opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  .modal--active {
    visibility: visible;
    opacity: 1;
  }
  .modal--align-top {
    align-items: flex-start;
  }
  .modal__bg {
    background: transparent;
  }
  .modal__dialog {
    max-width: 1440px;
    padding: 1.2rem;
    top: 50px;
    position: absolute;
  }
  .modal__content {
    will-change: transform, opacity;
    position: relative;
    padding: 2.4rem;
    background: var(--bg-dark);
    background-clip: padding-box;
    box-shadow: 0px 0px 15px 0px rgba(34, 220, 217, 0.25);
    border-radius: 25px;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .modal__content--active {
    opacity: 1;
  }
  .modal__close {
    z-index: 1100;
    cursor: pointer;
  }
  .modal__trigger {
    cursor: pointer;
    width: 450px;
}
  .modal__trigger--active {
    z-index: 10;
  }
  
  #modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transform: none;
    opacity: 1;
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

 
 
 
  .demo-btns p {
    text-align: center;
    color: var(--bg-dark);
  }
  .demo-btns .link {
    font-size: 20px;
  }
  .demo-btns .modal__trigger {
    margin-right: 3px;
  }
  
  
  .demo-close {
    position: absolute;
    
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    background: linear-gradient(75deg, rgba(247, 62, 148, 1), rgba(34, 220, 217, 1));
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .demo-close::before {
    position: absolute;
    content: "";
    background: var(--bg-dark);
    border-radius: 50%;
    z-index: -2;
    width: 40px;
    height: 39px;
    top: 2px;
    left: 2px;
  }
  .demo-close svg {
    width: 24px;
    fill: var(--text-white);
    pointer-events: none;
    vertical-align: top;
  }
  .demo-close:hover {
    background: linear-gradient(75deg, rgba(34, 220, 217, 1), rgba(247, 62, 148, 1));
  }

  .modal_img_1, .modal_img_2 {
    max-width: 1200px;
    height: 900px;
  }

  .modal_img_3, .modal_img_4 {
    max-width: 1200px;
    height: 1200px;
  }

  @media(max-width: 1300px) {
    .modal_img_1, .modal_img_2 {
      max-width: 1000px;
      height: 750px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 1000px;
      height: 1000px;
    }

    .modal__dialog {
      max-width: 1200px;
    }
  }

  @media(max-width: 1130px) {
    .modal_img_1, .modal_img_2 {
      max-width: 800px;
      height: 600px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 800px;
      height: 800px;
    }

    .modal__dialog {
      max-width: 960px;
    }
  }
  
  @media(max-width: 950px) {
    .modal_img_1, .modal_img_2 {
      max-width: 600px;
      height: 450px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 600px;
      height: 600px;
    }

    .modal__dialog {
      max-width: 720px;
    }
  }

  @media(max-width: 767px) {
    .modal_img_1, .modal_img_2 {
      max-width: 500px;
      height: 375px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 500px;
      height: 500px;
    }

    .modal__dialog {
      max-width: 600px;
    }
  }

  @media (max-width: 640px) {
    .demo-btns .modal__trigger {
      margin-bottom: 0.8rem;
    }
  }

  @media(max-width: 600px) {
    .modal_img_1, .modal_img_2 {
      max-width: 354px;
      height: 265px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 354px;
      height: 354px;
    }

    .modal__dialog {
      max-width: 425px;
    }
    .modal_content_title {
      letter-spacing: 10px;
      font-size: 40px;
    }
    .modal_content_name {
      font-size: 20px;
    }
    .modal__content {
      padding: 1.2rem;
    }
  }

  @media(max-width: 424px) {
    .modal_img_1, .modal_img_2 {
      max-width: 320px;
      height: 240px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 320px;
      height: 240px;
    }

    .modal__dialog {
      max-width: 384px;
    }
    .modal_content_title {
      letter-spacing: 9px;
      font-size: 38px;
    }
    .modal_content_name {
      font-size: 18px;
    }
   
  }

  @media(max-width: 389px) {
    .modal_img_1, .modal_img_2 {
      max-width: 300px;
      height: 225px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 300px;
      height: 225px;
    }

    .modal__dialog {
      max-width: 360px;
      padding: 1rem;
    }
  }

  @media(max-width: 360px) {
    .modal_img_1, .modal_img_2 {
      max-width: 270px;
      height: 202px;
    }
    .modal_img_3, .modal_img_4 {
      max-width: 270px;
      height: 270px;
    }

    .modal__dialog {
      max-width: 320px;
      
    }
    .modal__content {
      padding: 0.6rem;
    }
    .modal_content_title {
      letter-spacing: 5px;
  }
}